[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidySpatialExperiment"]
	path = tidySpatialExperiment
	url = https://github.com/william-hutchison/tidyspatialexperiment
